.login-form img {
    width: 180px;
    margin: 50px 0px;
}
.login-form input {
    width: 270px;
    margin-bottom: 15px;
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 12px;
    padding: 0px 10px;
}
.login-form input[type="submit"] {
    background-color: #e74242;
    color: white;
}
.error {
    font-size: 12px;
    color: red;
}
.forget-password {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.have-an-account {
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.success {
    font-size: 12px;
    color: green;
}